# PDF
*~
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz

#Python
*.pyc
Server/vp.egg-info
*.xml
*.json

#desktop.ini
desktop.ini

#JSON
*.json

Server/vp/eastereggs

# Anscheinend muss man die Dateien erst untracken
# mit git rm --cached *.pyc
