body{
	background-color: #0e0e0e;
	color: white;
}
form {
	width: 300px;
}

#password {
	width: 300px;
	color: white;
	background-color: #0e0e0e;
	font-family: arial;
	font-size: 3em;
	text-align: center;
	border: none;
	border-bottom: solid 2px #316495;
	outline: none;
}

.nofocus {
	border-bottom-color: #232323 !important;
}

a#submit {
	width: 220px;
	margin: auto;
	text-decoration: none;
	cursor: default;
	font-size: 2.5em;
	text-align: center;
	border-style: none;
	background-color: #232323;
	color: white;
}

#incorrect {
	font-size: 1.5em;
	margin: 0px;
	text-align: center;
	color: #FF5555;
}
