*{
	color: black; /*The text color is black unless specified otherwise later*/
	font-family: Helvetica, Ubuntu, sans-serif; /*If available, take the font Helvetica*/
}

body{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;
	font-size: 100%;

	color: #FFFFFF;
	background-color: #EFEFEF;
}

#jsWarn{ /*No JavaScript*/
	z-index: 5;  /*Make sure this is on top of the page*/

	position: fixed; /*Make the Element stay where it is while scrolling*/
	display: block;

	width: 100%; /*Let the Element take the whole screen*/
	height: 100%;
	top: 0;
	left: 0;

	padding: 0;
	margin: 0;

	color: rgb(250,240,240);
	background-color: rgb(50,60,70);

	text-align: center;
	line-height: 5em;
}

header{ /*Headline*/
	font-size: 2.5em; /*Big, centered text*/
	font-weight: bolder;
	text-align: center;
}

#nav{ /*Tab menu*/
	display: block;

	height: 2.5em;
	background-color: #7689A9;
	text-align: center;

	box-shadow: 5px 0 5px 0 black
}

#nav ul{
	margin: 0px;
	padding: 0px;

	display: block;
}

#nav ul li{
	list-style: square;
	font-weight: 100;
	color: #2F2D2C;
	line-height: 1.25em;
	padding: 0em;

	display: inline;
	margin: 0em 0.188em 0em 0.188em;
}

#nav ul li a{
	text-decoration: none;
	color:#454040;
	font-size: 1.125em;
	line-height:2.5em;
	padding:0.563em 0.938em 0.300em 0.983em;
	transition:background 0.2s;
	-webkit-transition:background 0.2s;
}

#nav ul li:hover a{
	border-bottom: .188em solid #FFA500;
}

.container{ /*Main Page Element*/
	display: table;
	width: 100%;
	height: 100%;
}

div.wrapper_top{
	display: table-row;
	height: 0px;
}

div.wrapper_bottom{
	display: table-cell;
	height: 100%;
	border-radius: 25px;
}

#content{
	position: relative;
	height: 100%;
}
#content center{
	position: inherit;
	height: inherit;
}


#table{
	box-shadow: 2px 2px 3px 3px gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 1em;
	border: 1px solid black;
	width: 100%;
}
#theader{
	height: 3em;
	border-bottom: 1px solid black;
}
.entry{
	position: relative;
	height: 3em;
	color: black;
}
.entry:hover{
	background-color: rgba(128, 128, 128, 0.7);
	color: white;
}
.even{background-color: white;}
.odd{background-color: lightgray;}

.subentry{
	position: absolute;
	width: 25%;
	height: 100%;
	text-align: center;
}

.lesson{left: 0}
.class{left: 25%}
.teacher{left: 75%}

.subentry:hover{
	background-color: rgba(255, 255, 255, 0.2);
}