@keyframes fade_left{
	from { transform: translateX(-50%); display: block; opacity: 1.0;}
	99% { display: block; }
	to { transform: translateX(-200%); display: none; opacity: 0.0}
}
@keyframes fade_right{
	from { transform: translateX(-50%); display: block; opacity: 1.0;}
	99% { display: block; }
	to { transform: translateX(100%); display: none; opacity: 0.0}
}
@keyframes from_left{
	from { transform: translateX(-200%); display: block; opacity: 0.0}
	to { transform: translateX(-50%); display: block; opacity: 1.0;}
}
@keyframes from_right{
	from { transform: translateX(100%); display: block; opacity: 0.0}
	to { transform: translateX(-50%); display: block; opacity: 1.0;}
}

@media screen{
	*{
		z-index: 2;
		font-family: Helvetica, Ubuntu, sans-serif;
	}
	.entry {
		font-family: Helvetica, Ubuntu, 'Open Sans', sans-serif;
	}

	a {
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		color: white;
	}
	body{
		padding: 0;
		margin: 0;
		background-color: #0e0e0e;
		color: white;
	}
	#topbar{
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	  align-items: stretch;

		top: 0;
		left: 0;
		margin: 0;
		margin-left: 2em;
		margin-right: 2em;
		padding: 0;
		background-color: #0e0e0e;
		width: auto;
		min-height: 2em;
		height: 15%;
		max-height: 3em;
		line-height: 2em;
		vertical-align: middle;
	}
	#topbar>a{
		padding-left: 1em;
		padding-right: 1em;
	}
	#topbar>img{
		height: 35px;
		width: auto;
	}
	#wrapper{
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;

	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: flex-start;
	  align-items: stretch;

		overflow: hidden;
	}
	#header{
		z-index: 5;
		background-color: #1d3954;
		height: 1.5em;
		font-size: 3em;
		padding-top: 1em;
		color: white;
		text-align: center;
		text-shadow: 1px 3px 10px black;
	}
	.space{
		flex-grow: 2;
	}
	.slide{
		z-index: 3;
		padding: 1em;
		background-color: #232323;
		border-radius: 10px;
		position: absolute;
		margin-top: 1em;
		left: 50%;
		transform: translateX(-50%);
		transition: transform 1s;
		min-width: 40%;
	}
	.slide>.slide_title{
		text-align: center;
		font-size: 2em;
	}
	.slidebutton{
		z-index: 0;
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
	}
	.singleslidebutton{
		position: absolute;
		height: 100%;
		z-index: 4;
		width: 2em;
		background-color: #232323;
		transition: background-color .2s;
		cursor: pointer;
		display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: stretch;
	}
	.singleslidebutton>.day_title{
		display: block;
		transform: rotate(-90deg);
	}
	.singleslidebutton:hover{
		background-color: #3a7ab6;
	}
	#leftslidebutton{
		left: 0;
	}
	#rightslidebutton{
		right: 0;
	}
	#footer{
		position: absolute;
	}

	/**
	Mögliche @media-Einträge:
		screen - Computerbildschirme
		handheld - Handys und Tablets (nicht ganz zuverlässig, aber eig. ausreichend)
		all - alle halt
		aural - sprach- und tonsynthese (frag mich nicht wieso man dafür css braucht)
		braille - "Used for braille tactile feedback devices"
		embossed - "Used for paged braille printers"
		print - Drucker (sollte unter 2 Umständen benutzt werden: 1. das gerät sagt ich bin ein drucker 2. der browser sagt es wird jetzt gedruckt)
		projection - präsentation wie power-point, keine ahnung wann das benutzt wird
		tty - Terminals (WIESO braucht man CSS um mit NEM TERMINAL ne WEBSITE zu öffnen, wie auch immer das gehen soll?!??!!)
		tv - Fernseher (das is ok)

	diese dinger können auch einem style-link übergeben werden
	(beispiel:
		<link rel="stylesheet" type="text/css" href="print.css" media="print">
	wird nur beim drucken eingebunden)
	*/
}
