/*
Das Farbschema das ich für die Seiten erstmal nehm:
$color1: #0e0e0e; // Schwarz
$color2: #282828; // Grau
$color3: #2c6221; // Grün1 (Dark)
$color4: #3d892d; // Grün2 (grünes Grün)
$color5: #4db038; // Grün3 (Light)

$color1: #0e0e0e;
$color2: #232323;
$color3: #1d3954;
$color4: #274f74;
$color5: #316495;
$color6: #3a7ab6;

$color1: #393939;

$color2: #4f4f4f;

$color3: #336195;

$color4: #3d76b6;

$color5: #558bc8;

$color6: #75a1d3;

*/

*{
    font-family: Helvetica, Ubuntu, sans-serif;
}
body{
    background-color: #232323;
}
#dropzone{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    background-color: #3a7ab6;
    text-align: center;
    border: 3px dashed #1d3954;
    border-radius: 15%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 0px 3px 3px rgba(200,200,200,.3);
}
#dropzone:before{
    content: "";
    display: block;
    padding-top: 100%;
}
#content{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 3em;

    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
#sidebar{
    /* flexbox ist das BESTE CSS3 Feature nach 3DTransform und Animation... funktioniert aber nur
        bei CSS3-Support... d.h. wir unterstützen kein IE8 (wie traurig). */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 20px;
    margin: 0;
    padding: 0;

    background-color: #0e0e0e;

    transition: width 1s;

    z-index: 4;
}
#sidebar .entry{
    display: none;
    width: 100%;
    height: 4em;
}
#sidebar:hover{
    width: 30%;

    transition: width 1s;
}
#sidebar:hover .entry{
    padding-left: 3em;
    display: block;
}
.entry:hover{
    background-color: #232323;
}
#sidebar_image{
    position: absolute;

    top: 50%;
    left: 0;

    width: 20px;
    height: 20px;

    transform: translateY(-50%);
}
#sidebar>.entry>a{
    display: block;
    width: 100%;
    height: 100%;
}
.space{
    flex-grow: 2;
}
.space:hover{
    background-color: inherit;
}
#logout{
    left: 0;
    line-height: 4em;
    vertical-align: center;
    color: white;
    text-decoration: none;
}
.dragOver{
    background-color: #3a7ab6;
}
#uploadList{
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 45%;

    margin: 0;
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    background-color: #3a7ab6;
    color: black;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    display: none;
}
.upload{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.ulImg{
    height: 1em;
    width: 1em;
    margin-right: 1em;
}
