@media print {
  .break {
    page-break-before:always;
    }
  .spmenu {
    display:none;
    }  
  .spseitenanfang {
    display:none;
    }  

  .spdrucken {
    display:none;
    }  
    
  .spseite { 
    font-size:10px;
    display:none;
    
  .spdruckrandoben { 
    padding-top:10px;
    }

    } 
  }

@media all {
  html, body {
    margin:10px; 
    padding:0px; 
    }

  .spmenu a {
    padding-top:10px; 
    }  

  .spseitenanfang {
    background: url(top.gif) no-repeat top right;
    padding-right:20px; 
    line-height:30px;
    height:30px;
    }  

  .spdrucken {
    background: url(drucken.gif) no-repeat top right;
    font-size:12px;
    padding-right:20px; 
    line-height:30px;
    height:30px;
    }  

  body {
    background-color:white;
    color:black;
    font-family:Helvetica,Arial,Tahoma,sans-serif;
    font-size:12px;
    text-align:left;
    }

  .linkseitenanfang {
    }

  .hauptmenudatum {
    font-size:14px;
    font-weight:bold;
    }

  .hauptmenunach {
    font-size:12px;
    font-weight:bold;
    }

  .linkseitenanfang {
    }

  .spfuer { 
    font-size:14px;
    }

  .spfuerkl { 
    font-weight:bold;
    }

  .spfuerst { 
    font-size:14px;
    font-weight:bold;
    }
    
  .spschulname { 
    font-size:10px;
    }
    
  .spgueltig { 
    font-size:10px;
    }  

  .spseite { 
    font-size:10px;
    } 
     
  table {
    border-collapse:collapse;
    border-color:black;
    table-layout:fixed;
    width:100%;
    font-size:12px;
    overflow:hidden;
    }

  .tablestunde {
    }
    
  .tableplan {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
    font-size:12px;
    overflow:hidden;
    }

  .tableplan td,th {
    vertical-align:top;
    }

  .sperrung {
    background-color:darkgray;
    }
   
  .kopfstunde {
    font-size:12px;
    font-weight:bold;
    width:50px;
    text-align:center;
    }
     
  .kopftag {
    font-size:12px;
    font-weight:bold;
    text-align:center;
    }
     
  .stunde {
    font-size:12px;
    text-align:center;
    font-weight:bold;
    }

  .klasse {
    }
   
  td {
    border-color:black;
    padding:2px;
    }
    
  th {
    padding:2px;
    }

  .lehrergeaendert {
    font-weight:bold;
    color:red;
    } 
 
  .fachgeaendert {
    font-weight:bold;
    color:red;
    }

  .raumgeaendert {
    font-weight:bold;
    color:red;
    }

  .menulehrername {
    width:150px;
    float:left;
    overflow:hidden;
    }

  .menuklassename {
    width:50px;
    float:left;
    overflow:hidden;
    }

  .menuraumname {
    width:50px;
    float:left;
    overflow:hidden;
    }

  .menustunde {
    width:80px;
    float:left;
    overflow:hidden;
    }

  .clear {
    clear:both;
    }
  .menulehrer {
    }

  .planstunde {
    }

  .menuklasse {
    }

  .stue {
    background-color:beige;
    margin: 5px 5px 0px 0px;
    padding: 2px 2px 2px 2px;
    float:left;
    width:80px;
    height:80px;
    }
  .stfach {
    float:left;
    width:80px;
    }

  .stlehrer {
    float:left;
    width:80px;
    }

  .stklasse {
    float:left;
    width:80px;
    }

  .straum {
    float:left;
    width:80px;
    }

  .datum {
    font-weight:bold;
    }

  }