/* Auslagern von CSS für media::mobile */
*{
	z-index: 2;
}
a {
	text-decoration: none;
	color: white;
}
body{
	padding: 0;
	margin: 0;
	background-color: #0e0e0e;
	color: lightgray;
	overflow-x: hidden;
}
.entry{
	padding-right: .5em;
}
.entry>.subject{
	 display: flex;
	 margin-left: .1em;
	 min-width: 70px;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;

	padding: 0 .1em;
}
.subject>.sub_subject{
	display: inline-block;
	min-width: 50px;
	text-align: center;
}
.subject>.sub_subject_2{
	display: inline-block;
	min-width: 40px;
	text-align: center;
}
.information{
	max-width: 20em;
	overflow: auto;
	white-space: normal;
	word-break: normal;
}
.old{
	opacity: .5;
}
.space{
	flex-grow: 2;
}
.empty_msg{
	text-align: center;
}
#jsWarn{
	z-index: 500;

	position: fixed;
	display: block;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	padding: 0;
	margin: 0;

	color: rgb(250,240,240);
	background-color: rgb(50,60,70);

	font-family: Ubuntu, sans-serif;

	text-align: center;
	line-height: 5em;
}
.table{
	display: table;
}
.table_row{
	display: table-row;
}
.table_cell{
	display: table-cell;

	padding-left: .2em;
	padding-right: .2em;
}
.thead{
	display: table-header-group;
}
.tbody{
	display: table-row-group;
}
