* {
	z-index: 2;
}
a {
	text-decoration: none;
	color: white;
}
body{
	padding: 0;
	margin: 0;
	background-color: #0e0e0e;
	color: lightgray;
	overflow-x: hidden;
}

table {
	font-size: 1.3em;
}
div.slide-title {
	width: 100%;
	text-align: center;e
	display: block;
	margin-bottom: 2em;
}
span.day-title { font-size: 4em; }

.entry{
	padding-right: .5em;
	font-size: 1.3em;
}
.subject{
	display: inline-block;
	margin-left: .1em;
}

.class-selector { text-align: right; }

.old { opacity: .5; }
